<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Acceuil</servlet-name>
        <servlet-class>com.hdm.servlets.Acceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <servlet-class>com.hdm.servlets.AjouterUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterReseau</servlet-name>
        <servlet-class>com.hdm.servlets.AjouterReseau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerDepartements</servlet-name>
        <servlet-class>com.hdm.servlets.ListerDepartements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererReseau</servlet-name>
        <servlet-class>com.hdm.servlets.GererReseau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerReseau</servlet-name>
        <servlet-class>com.hdm.servlets.SupprimerReseau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerSites</servlet-name>
        <servlet-class>com.hdm.servlets.ListerSites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierReseau</servlet-name>
        <servlet-class>com.hdm.servlets.ModifierReseau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererSitesDepartements</servlet-name>
        <servlet-class>com.hdm.servlets.GererSitesDepartements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierDepartements</servlet-name>
        <servlet-class>com.hdm.servlets.ModifierDepartements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerDepartements</servlet-name>
        <servlet-class>com.hdm.servlets.SupprimerDepartements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierSites</servlet-name>
        <servlet-class>com.hdm.servlets.ModifierSites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerSites</servlet-name>
        <servlet-class>com.hdm.servlets.SupprimerSites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.hdm.servlets.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemanderCompte</servlet-name>
        <servlet-class>com.hdm.servlets.DemanderCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterTicket</servlet-name>
        <servlet-class>com.hdm.servlets.AjouterTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherAdressesIP</servlet-name>
        <servlet-class>com.hdm.servlets.AfficherAdressesIP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.hdm.servlets.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterTicketUtilisateur</servlet-name>
        <servlet-class>com.hdm.servlets.AjouterTicketUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercherAgentParMatricule</servlet-name>
        <servlet-class>com.hdm.servlets.RechercherAgentParMatricule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuiviTicket</servlet-name>
        <servlet-class>com.hdm.servlets.SuiviTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acceuil</servlet-name>
        <url-pattern>/Acceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <url-pattern>/AjouterUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterReseau</servlet-name>
        <url-pattern>/AjouterReseau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerDepartements</servlet-name>
        <url-pattern>/ListerDepartements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererReseau</servlet-name>
        <url-pattern>/GererReseau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerReseau</servlet-name>
        <url-pattern>/SupprimerReseau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerSites</servlet-name>
        <url-pattern>/ListerSites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierReseau</servlet-name>
        <url-pattern>/ModifierReseau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererSitesDepartements</servlet-name>
        <url-pattern>/GererSitesDepartements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierDepartements</servlet-name>
        <url-pattern>/ModifierDepartements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerDepartements</servlet-name>
        <url-pattern>/SupprimerDepartements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierSites</servlet-name>
        <url-pattern>/ModifierSites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerSites</servlet-name>
        <url-pattern>/SupprimerSites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemanderCompte</servlet-name>
        <url-pattern>/DemanderCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterTicket</servlet-name>
        <url-pattern>/AjouterTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherAdressesIP</servlet-name>
        <url-pattern>/AfficherAdressesIP/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterTicketUtilisateur</servlet-name>
        <url-pattern>/AjouterTicketUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercherAgentParMatricule</servlet-name>
        <url-pattern>/RechercherAgentParMatricule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuiviTicket</servlet-name>
        <url-pattern>/SuiviTicket</url-pattern>
    </servlet-mapping>
</web-app>
